*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   max-width: 100%;
    height: 900px;
    background-image: url(../assets/manuel-cosentino-n--CMLApjfI-unsplash.jpg);
    background-size: cover;
  position: relative;
}
.container__main{
    background-image: url(../assets/manuel-cosentino-n--CMLApjfI-unsplash.jpg);
    background-size: cover;
    width: 800px;
    height: 500px;
    position: absolute;
    margin-left: 25%;
    margin-top: 80px;
    border-radius: 10px;
}
.container__main li a{
    color:aliceblue;
    text-decoration: none;
}
h4{
    color: aliceblue;
}
.container__main label{
    color: aliceblue;
}
header{
    width: 100%;
    height: 60px;
    padding: 0 40px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 10px;
}
.menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
li{
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    position: relative;
}
.dropdown{
    min-width: 120px;
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 40px;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4)0px 25px 50px -12px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}
li:hover.dropdown{
    opacity: 1;
    visibility: visible;
    top: 60px;
}
.dropdown a{
    font-size: 14px;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}
.main{
    display: flex;
    margin-top: 50px;

}
.main__body{
    width: 50%;
    font-size: 40px;
    margin-left: 20px;
}
.register{
    width: 50%;
}
.error{
    display: none;
    color: red;
}
input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
}
.button{
margin-top: 20px;
background-color: red;
width: 70px;
height: 20px;
color: aliceblue;
}
.button1{
    background-color: red;
    width: 70px;
    height: 20px;
    color:aliceblue;
    margin-left: 20px;
}

